.counter{
    width: 80px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    background-color: #363636;
    color: whitesmoke;
    font-size: 3rem;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 1);

}